body {
    background-color: white;
}

header {
    height: 50px;
    
    
}

#leftHeader, #rightHeader {
    display: table;
    
}

#leftHeader a, #rightHeader a {
    color: gray;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    
}



#leftHeader{
    float: left;
}

#rightHeader{
    float: right;

}

#squares {
    background-image: url(https://github.com/iamnguyenson/google_homepage/blob/master/i1_1967ca6a.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    display: inline-block;
    width: 30px;
}

#login {
    background-image: url(https://lh3.googleusercontent.com/-Ga6a2dxY2CI/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd5S4xV0LVuZbptNjqntDx5KI0mcQ.CMID/s32-c/photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    display: inline-block;
    width: 30px;
}